/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

@media screen and (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

:root {
  /* fonts */
  --text-font: 'Roboto', sans-serif;
  --text-color: #333;

  /* colors */
  --clr-primary: #ffab91;
  --clr-light: #ffddc1;
  --clr-dark: #c97b63;
  --clr-white: #fefefe;

  --transition: all 300ms ease-in-out;
  --trs-trf: transform 300ms ease-in-out;

  --desc: 960px;
  --desc-wide: 1366px;
}

body {
  font-family: var(--text-font);
  color: var(--font-color);
  font-weight: 400;
  line-height: 1.5;
  background: var(--clr-white);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

img,
svg {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 960px) {
  .App {
    grid-template-columns: auto 1fr;
  }
}

.g--section {
  width: 100%;
  padding: 1.25rem;
}

.g--centered {
  max-width: 960px;
  margin: 0 auto;
}

.g--centered-768 {
  max-width: 768px;
  margin: 0 auto;
}

.g--centered-648 {
  max-width: 648px;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .hover-link {
    cursor: pointer;
    border-left: 3px solid transparent;
    margin: 0.55rem 0;
    padding: 0 0.5rem;
    transition: var(--transition);
  }

  .hover-link:hover {
    border-color: var(--clr-primary);
  }
}
