/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

:root {
  /* fonts */
  --text-font: 'Roboto', sans-serif;
  --text-color: #333;

  /* colors */
  --clr-primary: #ffab91;
  --clr-light: #ffddc1;
  --clr-dark: #c97b63;
  --clr-white: #fefefe;
  --clr-gray: #999999;
  --clr-primary-transparent: rgba(255, 221, 193, 0.2);

  --transition: all 300ms ease-in-out;

  --desc: 960px;
  --wide-desc: 1366px;
}

body {
  font-family: var(--text-font);
  color: var(--font-color);
  font-weight: 400;
  line-height: 1.5;
  background: var(--clr-white);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

img,
svg {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.g--section {
  padding: 1.25rem;
}

.g--centered {
  /* padding: 0 2rem; */
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .g--section {
    padding: 2rem;
  }
}

.g--hover-link {
  cursor: pointer;
  border-left: 3px solid transparent;
  margin: 0.55rem 0;
  padding: 0 0.5rem;
  transition: var(--transition);
}

.g--hover-link:hover {
  border-color: var(--clr-primary);
}
