/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

:root {
  /* fonts */
  --font-text: 'Roboto Slab', sans-serif;
  --font-header: 'Roboto', sans-serif;
  --font-control: 'Roboto', sans-serif;

  /* colors */
  --clr-text: #333;
  /* |-> old colors */
  --clr-primary: #ffab91;
  /* --clr-light: #ffddc1; */
  /* --clr-dark: #c97b63; */
  /* <-| old colors */
  /* |-> new colors */
  --clr-light: lightcoral;
  --clr-dark: brown;
  /* --clr-dark: #a52a2a; */
  /* <-| new colors */
  --clr-button-bg: rgba(201, 123, 99, 0.1);
  --clr-white: #fefefe;
  --clr-gray: #999999;
  --clr-primary-transparent: rgba(255, 221, 193, 0.2);
  --clr-whitesmoke: whitesmoke;

  --transition: all 300ms ease-in-out;

  --desc: 960px;
  --wide-desc: 1366px;
}

body {
  font-family: var(--font-control);
  color: var(--clr-text);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--clr-white);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

li {
  list-style: none;
}

img,
svg {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-bottom: 0.625rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125rem;
}

p,
p.g--reading-text {
  font-size: 1.125rem;
  font-family: var(--font-text);
}

.g--date-text,
.g--author-text {
  font-size: 0.875rem;
  color: var(--clr-gray);
}

.g--dot-text {
  margin: 0 0.5rem;
  /* color: var(--clr-dark); */
  color: var(--clr-gray);
  font-weight: bold;
}

.g--clickable-contact {
  color: var(--clr-dark);
  text-decoration: underline;
  cursor: pointer;
}

button.g--btn {
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

button.g--btn:hover {
  border-color: var(--clr-dark);
  background-color: var(--clr-button-bg);
}

.g--section {
  width: 100%;
  padding: 2rem 0;
}

.g--section-centered {
  width: 85%;
  max-width: 44rem;
  margin: 0 auto;
}

.g--section-bg {
  background-color: var(--clr-whitesmoke);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  p.g--reading-text {
    font-size: 1.25rem;
  }

  .g--section {
    padding: 1rem 0;
  }

  .g--date-text {
    font-size: 0.875rem;
  }

  .g--hover-link {
    cursor: pointer;
    border-left: 3px solid transparent;
    margin: 0.55rem 0;
    margin-left: -1rem;
    padding: 0 1rem;
    transition: var(--transition);
  }

  .g--hover-link:hover {
    border-color: var(--clr-dark);
  }
}
@media screen and (min-width: 1920px) {
  /* h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  } */

  p {
    font-size: 1.125rem;
  }

  .g--section {
  }

  .g--section-centered {
    max-width: 60rem;
  }

  /* .g--date-text {
    font-size: 0.875rem;
  } */
}
