/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

:root {
  /* fonts */
  --font-text: 'Roboto Slab', sans-serif;
  --font-header: 'Roboto', sans-serif;
  --font-control: 'Roboto', sans-serif;

  /* colors */
  --clr-text: #2f2e41;
  --clr-darkblue: #3f3d56;
  --clr-light: lightcoral;
  --clr-primary: brown;
  --clr-button-bg: rgba(201, 123, 99, 0.1);
  --clr-white: #fefefe;
  --clr-gray: #7d7e90;
  --clr-primary-transparent: rgba(255, 221, 193, 0.2);
  --clr-whitesmoke: whitesmoke;

  --transition: 0.25s ease-in-out;

  --desc: 960px;
  --wide-desc: 1366px;
}

body {
  font-family: var(--font-control);
  color: var(--clr-text);
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--clr-white);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

li {
  list-style: none;
}

img,
svg {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-bottom: 0.625rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.125rem;
}

p,
p.g--reading-text {
  font-size: 1.125rem;
  font-family: var(--font-text);
}

.g--date-text,
.g--author-text {
  font-size: 0.875rem;
  color: var(--clr-gray);
}

.g--dot-text {
  margin: 0 0.5rem;
  /* color: var(--clr-primary); */
  color: var(--clr-gray);
  font-weight: bold;
}

.g--clickable-contact {
  /* color: var(--clr-primary); */
  text-decoration: underline;
  cursor: pointer;
}

button.g--btn {
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}

button.g--btn:hover {
  background-color: var(--clr-button-bg);
  border-color: var(--clr-primary);
}

button.g--btn-solid {
  box-shadow: 0 6px 14px rgba(100, 0, 0, 0.23);
  background: rgb(165, 42, 42);
  color: whitesmoke;
  border-color: rgb(165, 42, 42);
  transition: var(--transition);
  padding-left: 1rem;
  padding-right: 1rem;
}

button.g--btn-solid:hover {
  box-shadow: 0 6px 22px rgba(100, 0, 0, 0.33);
  background: rgb(197, 58, 58);
  border-color: rgb(197, 58, 58);
}

.g--section {
  width: 100%;
  padding: 2rem 0;
}

.g--section-centered {
  width: 85%;
  max-width: 44rem;
  margin: 0 auto;
}

.g--section-bg {
  background-color: var(--clr-whitesmoke);
}

/* Disable Chrome form autofill styles */
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.06) inset !important;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  p.g--reading-text {
    font-size: 1.25rem;
  }

  .g--section {
    padding: 1rem 0;
  }

  .g--date-text {
    font-size: 0.875rem;
  }

  .g--hover-link {
    cursor: pointer;
    position: relative;
    /* border-left: 3px solid transparent; */
    margin: 0.55rem 0;
    margin-left: -1rem;
    padding: 0 1rem;
    /* transition: var(--transition); */
  }

  .g--hover-link:hover {
    border-color: var(--clr-primary);
  }

  .g--hover-link:after {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-primary);
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: transform var(--transition);
  }

  .g--hover-link:hover:after {
    transform: scaleY(1);
    transform-origin: top left;
  }
}
@media screen and (min-width: 1920px) {
  /* h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  } */

  p {
    font-size: 1.125rem;
  }

  .g--section-centered {
    max-width: 60rem;
  }

  /* .g--date-text {
    font-size: 0.875rem;
  } */
}
